<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let bb of dynamicFormBuildConfig; let i=index">
      <!-- <form [formGroup]="dynamicFormBuildConfig.formGroup" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/background.jpg);"> -->
      <form [formGroup]="dynamicFormBuildConfig[i].formGroup" class="formbg">
        <label class="h1">Zone {{i + 1}}</label>
        <div viewMode="advance" [rxwebDynamicForm]="dynamicFormBuildConfig[i]" [uiBindings]="uiBindings">
        </div>
      </form>

    </div>
    <div class="col-md-4">
      <button type="submit" name="submitForm" (click)="uploadFile(this)" class="btn btn-primary">Submit</button>
      <br />
      <br />
      <button class="btn btn-primary" (click)="addzone()">Add Zone</button>
      <!-- <pre>{{this.serverData | json}}</pre> -->
    </div>
  </div>
</div>
<div class="modal fade my-modal" tabindex="-1" role="dialog" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title">Add Comments</h5>
         <button type="button" class="close" (click)="closeCommentDialog()" aria-label="Close"><span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
        <textarea [(ngModel)]="comments" rows="5" cols="50"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeCommentDialog()">Close</button>
        <button type="button" class="btn btn-secondary" (click)="saveCommentDialog()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade my-modal" tabindex="-1" role="dialog" #myModal1>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <h3 class="modal-title">Add Controls</h3>
         <button type="button" class="close" (click)="addControlclose()" aria-label="Close"><span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
        <select [(ngModel)]="repeatableSource" class="form-select">
          <option *ngFor="let source of repeatSource; let i = index" [value]="repeatSource[i].controlName">
            {{repeatSource[i].controlName}}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addControlclose()">Close</button>
        <button type="button" class="btn btn-secondary" (click)="addControlsave()">Add</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade my-modal" tabindex="-1" role="dialog" #myModal2>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title">Add Comments</h5>
         <button type="button" class="close" (click)="addControlLabelclose()" aria-label="Close"><span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="controlLabel" class="form-control"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addControlLabelclose()">Close</button>
        <button type="button" class="btn btn-secondary" (click)="addControlLabelsave()">Save</button>
      </div>
    </div>
  </div>
</div>